:root {
    --primary-color: #E04357;
    --secondary-color: #DCDCDC;
    --accent-color: #FFFF;
    --dark-primary-color: #282634;
    --dark-accent-color: rgba(24, 22, 38, 20);
}

.color-brand-primary {
    color: var(--primary-color);
}

.color-brand-secondary {
    color: var(--secondary-color);
}

.color-brand-accent {
    color: var(--accent-color);
}

.color-brand-dark {
    color: var(--dark-primary-color);
}

.bg-brand-primary {
    background-color: var(--primary-color);
}

.bg-brand-secondary {
    background-color: var(--secondary-color);
}

.bg-brand-accent {
    background-color: var(--accent-color);
}

.bg-brand-dark {
    background-color: var(--dark-primary-color);
}

@font-face {
    font-family: brandFont;
    src: url(/fonts/font.ttf);
}

body {
    font-family: brandFont;
    box-sizing: border-box;
}

.caret-hidden {
    caret-color: transparent;
}

.bg-brand-dark-transp {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari */
    background-color: var(--dark-accent-color);
}

.color-brand-accent:hover,
.color-brand-accent:active{
    color: var(--primary-color) !important;
    /* change to white */
}

.color-brand-accent:focus{
    color: var(--accent-color);
}

.bg-brand-accent:hover,
.bg-brand-accent:active{
    background-color: var(--accent-color);
    color: var(--primary-color) !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}