<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <title th:text="#{app.title}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/brand_style.css}" rel="stylesheet"/>

    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
</head>

<body class="h-100 bg-brand-dark">
<nav class="navbar bg-brand-dark-transp">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/logo-white.svg" alt="" width="50px"></a>
        <ul class="nav justify-content-center  ">
            <li class="nav-item">
                <a class="nav-link color-brand-accent" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-brand-accent" href="/contact">Contact us</a>
            </li>
        </ul>
        <ul class="ms-auto"></ul>
        <div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/login" class="nav-link color-brand-accent pe-1">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link color-brand-accent ps-1">Register</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<main class="my-5">
    <div class="container">
        <h1 th:text="${Book.getTitle()}" class="text-white text-center"></h1>
        <div class="row justify-content-between py-3 py-lg-5 align-items-center">
            <div class="col-md-6 col-xl-5 col-xxl-4">
                <img th:src="'data:image/jpeg;base64,' + ${Book.getCover64()}" alt="" class="img-fluid rounded-1">
                <span th:text="'Pages: ' + ${Book.getPages()}" class="text-white ms-4"></span>
            </div>
            <div class="col-md-5 col-xl-4 text-start rounded-3 mt-3 py-3 h-100 border">
                <span th:text="'Price: ' + ${Book.getPrice()}" class="text-white h3 ms-1"></span>
                <hr class="my-4 text-white">
                <ul class="text-white text-start ms-1">
                    <li>Free delivery in 7 days</li>
                    <li>30 day return period</li>
                </ul>
                <hr class="my-4 text-white">
                <div class="input-group">
                    <span class="input-group-text">Quantity: </span>
                    <input type="number" min="1" th:max="${Book.getQuantity()}" value="1" id="quantity" class="form-control text-center">
                </div>
                <button class="float-end m-4 btn btn-secondary buy-button">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div th:each="AuthorDTO: ${Book.getAuthors()}" class="row justify-content-between py-5 mt-md-3 mt-xxl-5">
            <div class="col col-md-5 col-xl-4 col-xxl-3">
                <div class="card">
                    <img th:src="'data:image/jpeg;base64,' + ${AuthorDTO.getPhotoAsBase64()}" alt="" class="img-fluid card-img-top">
                    <div class="card-body">
                        <h4 th:text="${AuthorDTO.getName()}" class="card-title"></h4>
                    </div>
                </div>
            </div>
            <div class="col col-md-7 col-xl-6 col-xxl-5 p-3 border rounded">
                <h5 class="text-white mb-4">About the book:</h5>
                <p class="text-white" th:text="${Book.getDescription()}"></p>
            </div>
        </div>
    </div>
</main>
</body>
</html>